body{
	background:url("../Img/grey_wash_wall.png");
	color:#fff;
	font-family: 'Montserrat', sans-serif;
}


.navbar-default{
	background-color: #F6CEF5;
}

.navbar-default .navbar-brand{
	color: #000;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #F781F3;
}

ul.dropdown-menu{
background-color: #F6CEF5;	
}
.badge{
	background-color: #F6CEF5;
}
.list-group-item{
	background-color: rgba(43, 44, 44, 0.6);
}

h1{
	color:#F6CEF5;
 }

.thumbnail{
	background-color: #F6CEF5;
	text-align: center;
}

p{
	text-align: justify;
}
